* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --home-bg: rgba(35, 37, 54, 1);
  --button-bg-color: rgba(68, 76, 252, 1);
}

body {
  /* background-color: #4c4c4c; */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: var(--home-bg);
  padding: 1.3rem;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header nav a {
  color: rgb(202, 202, 202);
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

header nav a.active {
  color: white;
  font-weight: 600;
}

.home-page {
  background-color: var(--home-bg);
  min-height: 100vh;
  width: 100%;
}

.home-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  gap: 2rem;
}

.home-content h2 {
  color: white;
  font-size: 56px;
  font-weight: 600;
}

.home-content p {
  color: rgb(202, 202, 202);
  font-size: 16px;
}

.home-content button {
  background-color: var(--button-bg-color);
  color: white;
  padding: 20px 35px;
  border: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.shapes {
  position: relative;
  top: 63px;
  right: -1px;
}

.home-content button:hover {
  background-color: rgba(68, 76, 252, 0.8);
}

.home-img img {
  object-fit: cover;
  object-position: center;
}

.home-sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.sponsor-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sponsor-text p {
  color: rgb(197, 197, 197);
  font-size: 14px;
  font-weight: 500;
}
.sponsor-text span {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

footer {
  padding: 4rem 0;
}

.subscribe-box {
  width: 100%;
  height: 20rem;
  background-color: #666dff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 15rem;
}

.subscribe-text h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ffebff;
}

.subscribe-text h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  max-width: 600px;
  line-height: 1.4;
}

.subscribe-form input {
  width: 400px;
  max-width: 90%;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #232536;
}

.subscribe-form input::placeholder {
  color: #999;
  padding: 20px 300px 20px 30px;
}
